<app-test [myInput]="myInputmsg" (myOutput)="getChildData($event)"></app-test>
<p class="outputmsg" style="color:red">{{myOutput}}</p>
<h1 class="content" id="test">{{ title }} app is running!</h1>

<form [formGroup]="regForm">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name</label>
      <input
        type="text"
        class="form-control"
        formControlName="firstName"
        placeholder="First name"
        required
      />
      <div>
        <small *ngIf="firstName?.errors?.['maxlength']" class="text-danger"
          >First name should not more than 6 char..</small
        >
        <small *ngIf="firstName?.errors?.['nospaceallowed']" class="text-danger"
          >First name will not contain space..</small
        >
        <small *ngIf="firstName?.errors?.['required']" class="text-danger"
          >First name is required..</small
        >
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault02">Last name</label>
        <input
          type="text"
          class="form-control"
          formControlName="lastName"
          placeholder="Last name"
          required
        />
      </div>
      <small *ngIf="lastName?.errors?.['maxlength']" class="text-danger"
        >Last name should not more than 6 char..</small
      >
      <small *ngIf="lastName?.errors?.['nospaceallowed']" class="text-danger"
        >Last name will not contain space..</small
      >
      <small *ngIf="lastName?.errors?.['required']" class="text-danger"
        >Last name is required..</small
      >
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefaultUsername">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
        </div>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          placeholder="email"
          aria-describedby="inputGroupPrepend2"
          required
        />
        <div>
          <small
            *ngIf="regForm.get('email')?.errors?.['required']"
            class="text-danger"
            >Email is required..</small
          >
          <small
            *ngIf="regForm?.get('email')?.errors?.['email']"
            class="text-danger"
            >Email must be valid..</small
          >
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">City</label>
      <input
        type="text"
        class="form-control"
        formControlName="city"
        placeholder="City"
        required
      />
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault04">State</label>
      <input
        type="text"
        class="form-control"
        formControlName="state"
        placeholder="State"
        required
      />
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Zip</label>
      <input
        type="text"
        class="form-control"
        formControlName="zip"
        placeholder="Zip"
        required
      />
    </div>
  </div>

  <button class="btn btn-primary" type="submit" (click)="SubmitForm()">
    Submit form
  </button>
</form>
<input type="text" id="f_name" readonly="true">
<router-outlet></router-outlet>
