<h1>{{ value }}</h1>

<hr>

<button (click)="increment()" class="increment">Increment</button>

<button (click)="decrement()" class="decrement">Decrement</button>

<p class="message">
  {{ message }}
</p>

<p id="par" [ngStyle]="{'color': (value==0 ? 'black' : 'green')}">it's working fine</p>
<h1 id="header" [ngClass]="value < 10 ? 'font-blue' : 'font-red'">dffdfdfdd</h1>

<button id="button1" (click)="button1Click()">button1 click event</button>
<button id="button2" (click)="button2Click()">button2 click event</button>
<input id="textbox1" placeholder="button1 value change" (input)="onchangeInput()">
<input id="textbox2" placeholder="capture the event of input" (input)="onchangeLabelInput($event)">
<h3>{{label}}</h3>

<input type="text" class="form-control" id="textbox3"  [(ngModel)]="title">
<h1>{{title}}</h1>
<button (click)="setDefault()" id="button">button</button>

<div *ngIf="num>=20" id="div1">
  num is greater than 20
</div>
<div *ngIf="num<20" id="div2">
  num is less than 20
</div>
<div *ngIf="num>=20;then truecase;else falsecase">
</div>
<ng-template #truecase>
  <p id="ng1">
    number is greater than 20
  </p>
</ng-template>
<ng-template #falsecase>
  <p id="ng2">
    number is less than 20
  </p>
</ng-template>

<div [ngSwitch]="selectedNum" id="parentdiv">
  <div *ngSwitchCase="'one'" id="divc1">one is select</div>
  <div *ngSwitchCase="'two'" id="divc2">two is select</div>
  <div *ngSwitchDefault id="divc3">Default is selected..</div>
</div>

<div *ngFor="let color of colorNames" class="ngFor1">
  <div>{{color}}</div>
</div>
<p style="color: red;">Array list</p>
<div *ngFor="let item of colorList" class="ngFor2">
<div>{{item.name}} - {{item.id}}</div>
</div>
<p style="color: red;">Array list for ngFor properties</p>
<div *ngFor="let item of colorList;let i=index;let f=first;let l=last;let e=even;let o=odd" class="ngFor3">
<div>{{i}} - {{f}} - {{e}} - {{o}} - {{l}}</div>
</div>
